.nav{
    width:100vw;
    justify-content: center;
    display: flex;
    background-color: var(--cream);
    flex-direction: row;
    position:fixed;
    justify-content: center;
    gap:10vw;
    z-index:1000;
    a{  
        margin-top:1vw;
        img{
            height:3vw;
        }
        text-decoration: none;
        margin-bottom:.2vw;
        font-size:2vw;
        color:var(--brown);
        &:hover{
            color:rgb(118, 166, 249);
        }
    }
    &:after{
        content:'';
        background-color: var(--lilac);
        width:70%;
        height:.3vw;
        bottom:0;
        left:15vw;
        position:absolute;
    }
}