.services{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100vw;
    gap:1.5vw;
    justify-content: center;
    margin-top:2vw;
}

.service{
    div{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width:80%;
        border-radius:3vw;
        padding:0 2vw;
        align-items: center;
        width:20vw;
        height:15vw;
        gap:.5vw;
        background: #C9D6FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

        h1{
            font-size:1.54vw;
            color:var(--brown);
            
        }
        p{
            font-size:.9vw;
            color:var(--brown);
        }
    }
    h2{
        margin-top:1vw;
        text-align: center;
        font-size:1vw;
    }
}



.services{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100vw;
    gap:1.5vw;
    justify-content: center;
    margin-top:2vw;
}

.service{
    div{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width:80%;
        border-radius:3vw;
        padding:0 2vw;
        align-items: center;
        width:20vw;
        height:15vw;
        gap:.5vw;
        background: #C9D6FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

        h1{
            font-size:1.54vw;
            color:var(--brown);
            
        }
        p{
            font-size:.9vw;
            color:var(--brown);
        }
    }
    h2{
        margin-top:1vw;
        text-align: center;
        font-size:1vw;
    }
}