:root{
    --cream:#FFFBF0;
    --lilac: #59637E;
    --brown: rgb(101, 38, 2);
    --darkLilac:rgb(101, 38, 2);
}

.line{
    width:100%;
    background-color: black;
    height:.1vw;
}
*{
    margin:0;
    font-family: "roca", sans-serif;;
    font-weight: 300;
    font-style: normal;
}
p{
    font-family: "roca", sans-serif;;
    font-weight: 300;
    font-style: normal;
}
h1{
    font-family: "the-seasons", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    font-family: "roca", sans-serif;;
    font-weight: 300;
    font-style: normal;
    color:var(--brown);
}
body{
    background-color: var(--cream);
}

html{
    scroll-behavior: smooth;
}
@import 'scss/gift';
@import 'scss/nav';
@import 'scss/intro';